body {
    font-family: "Times New Roman", serif;
}

.btn {
    font-weight: bold;
}

#title {
    appearance: none;
    border: none;
    padding-left: 0;
    transition: background-color 0.2s, padding-left 0.2s;
    font-size: 1.25rem;
}

#title:hover, #title:focus {
    padding-left: 0.5rem;
}

#title:hover {
    background-color: #EEEEEE;
}

#title:focus {
    background-color: #DDDDDD;
}

textarea {
    border: none;
    font-size: 1.1rem;
    resize: none;
}

#publish-details {
    overflow: auto;
}

#publish-details:not(.submitted) :not(.hint-text) {
    display: none;
}

#publish-details.submitted .hint-text {
    display: none;
}

body {
    height: 100vh;
}