body {
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 112);
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2.75vw;
}

input,
button {
    font-size: 1.5vw;
}