body {
    background-color: #111111;
    color: white;
}

.fancy-image {
    background-color: black;
    background-image: url(/static/enterprise.jpg);
    background-size: cover;
    background-position: center;
}

body.logged-in .fancy-image {
    background-image: url(/static/industrial.jpg);
}

.fill-screen {
    min-height: 100vh;
}

.flagmachine {
    display: block;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 16px;
    background: #222222;
    box-shadow:  13px 13px 26px #070707,
             -13px -13px 26px #1b1b1b;
    max-width: 400px;
    height: 200px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.flagmachine:hover {
    background: linear-gradient(145deg, #242424, #1f1f1f);
    color: white;
}

.flagmachine:focus {
    background-color: #333333;
}

.flagmachine:active {
    box-shadow: inset 10px 10px 20px #070707,
            inset -10px -10px 20px #1b1b1b;
}

.flagmachine i {
    font-size: 24px;
    color: cornflowerblue;
}